<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Admin Dashboard</title>
</head>
<body>
    <h1>Welcome to the Admin Dashboard</h1>
    <p>You are logged in as the admin.</p>

    <h3>Registered Users</h3>
    
        <table border="2px" >
<tr>
    <th>Username</th>
    <th>email</th>
</tr>

<tr>
    {% for user in users %}    
    <td>{{ user.name }}</td>
    <td> {{ user.email }}</td>
   
</tr>
{% endfor %}

        </table>

        <!-- <ul>
        {% for user in users %}
            <li>{{ user.name }} ({{ user.email }})</li>
        {% endfor %}
    </ul> -->

    <a href="{{ url_for('logout') }}">Logout</a>
</body>
</html>
